.container{
    margin-bottom: 10px;
} 

.special{ 
    justify-content: center;
    text-align: center;
    height: 50%;
    margin: 25px;
} 

.in{ 
    background-color: honeydew;
    height: 100%; 
    line-height: 2.5rem;
}